<div class="date">
  <%= @post.date.strftime("%Y年%m月%d日") %>
</div>

<div class="title">
  <h1><%= @post.title %></h1>
</div>

<hr>

<div class="markdown-body">
  <%= @post.html_text.html_safe if @post.html_text %>
</div>

<%= link_to 'Back', tex2e_path %>
